[Unit]
Description=Infrared devices controller for linux. config file: (/etc/piremd.json)

[Service]
Type=simple
ExecStart=/usr/local/bin/pirem daemon